apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ gpu_name }}
  labels:
    app: {{ gpu_name }}
  namespace: {{ gpu_namespace }}
spec:
  selector:
    matchLabels:
      app: {{ gpu_name }}
  replicas: 1
  template:
    metadata:
      labels:
         app: {{ gpu_name }}
    spec:
      serviceAccount: fpg-runner
      containers:
        - name: jupyter
          image: {{ gpu_image }}:{{ gpu_image_tag }}
          ports:
            - name: {{ service_name_1 }}
              containerPort: {{ service_port_1 }}
              protocol: TCP
          env:
            - name: JUPYTER_DATA_DIR
              value: "/tmp/.local"
          command: ["/bin/bash", "-c"]
          args:
            - jupyter notebook  --notebook-dir=/tmp --NotebookApp.token='' --NotebookApp.password='' 
              
          resources:
            requests:
              cpu: {{ cpu_count }}
              memory: {{ mem_count }}Mi
              {{ gpu_count }}
            limits:
              cpu: {{ cpu_count }}
              memory: {{ mem_count }}Mi
              {{ gpu_count }}
