apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ gpu_name }}
  labels:
    app: {{ gpu_name }}
  namespace: {{ gpu_namespace }}
spec:
  selector:
    matchLabels:
      app: {{ gpu_name }}
  replicas: 1
  template:
    metadata:
      labels:
         app: {{ gpu_name }}
    spec:
      containers:
        - name: jupyter
          image: {{ gpu_image }}:{{ gpu_image_tag }}
          ports:
            - name: jupyter
              containerPort: 8888
              protocol: TCP
            - name: ssh
              containerPort: 22
              protocol: TCP
            - containerPort: 80
          env:
            - name: JUPYTER_DATA_DIR
              value: "/tmp/.local"
          command: ["/bin/bash", "-c"]
          args:
            - jupyter notebook  --notebook-dir=/tmp --NotebookApp.token='' --NotebookApp.password='' ;
          resources:
            limits:
              nvidia.com/gpu: {{ gpu_count }}
